.sidebar {
    background-color: #fff;
    width: 100%;
    max-width: 320px;
    padding: 0 15px;
    position: fixed;
    z-index: 99;
}
.sidebar_box {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.sidebar_box::-webkit-scrollbar {
    display: none;
  }
.btnGroup {
    padding: 10px;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    width: 100%;
}

.btnGroup button {
    padding: 8px 28px;
    border-radius: 10px;
    border: 0;
    border: 1px solid transparent
}
.btnSave {
    background: #35AEF2;
    color: #fff;
    margin-right: 5px;
}
.btnSave:hover {
    background-color: #F4F7FA;
    color: #35AEF2;
    border-color: #35AEF2
}
.btnCancle {
    background: #F4F7FA;
    color: #111;
}
