.card-items{
    display: flex;
    margin: -20px -10px 0;
    flex-wrap: wrap;
}

.card-items .card {
    width: 100%;
    max-width: calc(33.3333% - 20px);
    margin: 20px 10px 0;
    position: relative;
}
.card-items .card.active .hover-btn-group,
.card-items .card:hover .hover-btn-group {
    opacity: 1;
    visibility: visible;
}
.sidebar .card{
    margin: 20px 0;
}

.card {
    cursor: pointer;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #DDE2E8
}

.card.selected {
    border-color: #35AEF2;
}

.card img {
    max-width: 100%;
    height: 200px;
}